In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
train=pd.read_csv("./train.csv")
test=pd.read_csv("./test.csv")
submit_sample=pd.read_csv("./sample_submit.csv", header=None)

df = pd.concat([train, test], sort=False)
df.info()
df.head(20)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2466 entries, 0 to 364
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  2466 non-null   object
 1   y         2101 non-null   float64
 2   client    2466 non-null   int64
 3   close     2466 non-null   int64
 4   price_am  2466 non-null   int64
 5   price_pm  2466 non-null   int64
dtypes: float64(1), int64(4), object(1)
memory usage: 134.9+ KB

      datetime     y  client  close  price_am  price_pm
0   2010-07-01  17.0       0      0        -1        -1
1   2010-07-02  18.0       0      0        -1        -1
2   2010-07-03  20.0       0      0        -1        -1
3   2010-07-04  20.0       0      0        -1        -1
4   2010-07-05  14.0       0      0        -1        -1
5   2010-07-06  14.0       0      0        -1        -1
6   2010-07-07   4.0       0      0        -1        -1
7   2010-07-08  10.0       0      0        -1        -1
8   2010-07-09  12.0       0      0        -1        -1
9   2010-07-10  21.0       0      0        -1        -1
10  2010-07-11  15.0       0      0        -1        -1
11  2010-07-12  11.0       0      0        -1        -1
12  2010-07-13   8.0       0      0        -1        -1
13  2010-07-14  13.0       0      0        -1        -1
14  2010-07-15   8.0       0      0        -1        -1
15  2010-07-16  16.0       0      0        -1        -1
16  2010-07-17  23.0       0      0        -1        -1
17  2010-07-18  25.0       0      0        -1        -1
18  2010-07-19  18.0       0      0        -1        -1
19  2010-07-20  21.0       0      0        -1        -1